html {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/* Dark style input */
input {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}

.center {
    display: flex;
    justify-content: center;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    text-decoration: underline;
}

a:visited {
    color: lightblue
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
